---
import { Image } from '@astrojs/image/components'
import img from '../assets/images/me.png'
---

<section class='flex flex-row'>
  <div class=''>
    <Image src={img} width={2202} height={2616} alt='' class='max-w-sm' />
  </div>
  <div class='self-center'>
    <p>Hi! I'm Bryanth.</p>
    <p>
      I am from the Philippines and I am passionate about technologies and
      software development.
    </p>
    <p>
      As of now, I am a freelance frontend developer with 4 years of experience.
    </p>
  </div>
</section>
