---
import { Icon } from 'astro-icon'
---

<footer class='footer footer-center p-10 bg-base-200 text-base-content rounded'>
  <div class='grid grid-flow-col gap-4'>
    <a class='link link-hover'>About</a>
    <a class='link link-hover'>Contact</a>
    <a class='link link-hover'>Resume</a>
    <a class='link link-hover'>Projects</a>
  </div>
  <div>
    <div class='grid grid-flow-col gap-4'>
      <a href='https://www.linkedin.com/in/ayanbriones/' target='_blank'>
        <Icon name='linkedin' width='24' />
      </a>
      <a
        href='https://www.linkedin.com/in/ayanbriones/'
        target='_blank'
        class=''
      >
        <Icon name='github' width='24' />
      </a>
      <div>
        <p>Copyright © 2023 - Bryanth Briones</p>
      </div>
    </div>
  </div>
</footer>
